@tailwind base;
@tailwind components;
@tailwind utilities;

#pop-img::after{
    content: "";
    position: absolute;
    inset: 0px;
    z-index: 2;
    background: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%);
}
